::-webkit-scrollbar {
  display: none;
}

.col-card-feed {
  position: relative;
}

@media (max-width: 768px) {
  .col-request {
    display: none;
  }

  .col-card-feed {
    height: auto !important;
  }
}
