<div class="container-sm">
  <div class="row">
    <div class="col-md-3">
      <app-card-user></app-card-user>
    </div>
    <div
      class="col-md-6 col-card-feed search-results"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="1000"
      [scrollWindow]="windowWidth"
      (scrolled)="loadPlus()"  
      (scrolledUp)="loadPosts()"  
    >
      <app-new-post></app-new-post>
      <app-content-feed [data]="posts" [load]="loading"></app-content-feed>
      
    </div>
    <div class="col-md-3 col-request">
      <app-requests></app-requests>
    </div>
  </div>
</div>
