::-webkit-scrollbar {
  display: none;
}

.row {
  position: relative;
  top: 53px;

  .col-card-feed {
    height: calc(100vh - 53px);
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .col-request {
    display: none;
  }

  .col-card-feed {
    height: auto !important;
  }
}
