@use '../../../../theme/base/variables';

.button {
  border: none;
  color: variables.$dark-color;
  padding: 3px 20px;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  transition: .4s;

  &:hover {
    text-decoration: underline;
  }
}