@use '../../../theme/base/variables';

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  h1 {
    font-size: 12rem;
    color: variables.$dark-color;
  }
  
  span {
    font-size: 1.5rem;
    color: variables.$light-gray;
  }
}