<app-new-post></app-new-post>

<div class="card" *ngFor="let item of data">
  <div class="card-title">
    <div *ngIf="owner(item.owner.id)" class="btn-group options" dropdown>
      <i id="button-animated" type="button" dropdownToggle class="fas fa-ellipsis-v"
        aria-controls="dropdown-animated"></i>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        style="width: 252px; height: 410px; margin-right: 1rem;" role="menu" aria-labelledby="button-animated">
        <li role="menuitem">
          <a class="dropdown-item" (click)="deletePost(item.id)">Excluir</a>
        </li>
      </ul>
    </div>
    <img [src]="item.owner.picture">
    <div class="card-title-content-header">
      <h4>{{ item.owner.firstName }} {{ item.owner.lastName }}</h4>
      <span>{{ item.publishDate }}</span>
    </div>
  </div>
  <div class="text">
    {{ item.text }}
  </div>
  <div class="card-body">
    <div class="container-image" *ngIf="item.image">
      <img class="img-fluid" [src]="item.image">
    </div>
  </div>
  <div class="card-footer">
    <div class="card-footer-icons">
      <div>
        <i class="far fa-thumbs-up like"></i>
        <span>Curtir</span>
      </div>
      <div>
        <i class="far fa-thumbs-up like-count"></i>
        <span>{{item.likes}}</span>
      </div>
    </div>
  </div>
