<form [formGroup]="form" (ngSubmit)="uploadeImage()">
  <div class="card">
    <div class="card-title">
      <img [src]="user?.picture" alt="Picture">
      <textarea rows="2" placeholder="Criar nova publicação..." formControlName="text" minlength="6"
        maxlength="500"></textarea>
    </div>
    <div class="card-body">
      <!-- 
      <label for="arquivo">
        <i class="fas fa-video"></i>
        Video
        <input type="file" name="arquivo" id="arquivo">
      </label>
       -->
      <label for="arquivo">
        <i class="far fa-image"></i>
        Imagem
        <input type="file" name="arquivo" id="arquivo" accept=".jpg, .png" [multiple]="false"
          (change)="onUploadChange($event)">
      </label>
      <div>
        <app-default-button *ngIf="form.valid" class="fade-in" label="Publicar" type="submit"></app-default-button>
        <app-secondary-button *ngIf="form.valid || !!urlImage" class="fade-in" label="Cancelar" (click)="clear()">
        </app-secondary-button>
      </div>
    </div>
    <div class="card-body" *ngIf="urlImage">
      <img [src]="urlImage" class="image-preview" alt="" id="img">
    </div>
  </div>
</form>
