<div class="card">
  <div class="card-title">
    <img [src]="user.urlImage">
    <textarea rows="1" placeholder="Criar nova publicação..."></textarea>
  </div>
  <div class="card-body">
    <label for="arquivo">
      <i class="fas fa-video"></i>
      Video
      <input type="file" name="arquivo" id="arquivo">
    </label>
    <label for="arquivo">
      <i class="far fa-calendar"></i>
      Evento
      <input type="file" name="arquivo" id="arquivo">
    </label>
    <label for="arquivo">
      <i class="far fa-image"></i>
      Imagem
      <input type="file" name="arquivo" id="arquivo">
    </label>
    <label for="arquivo">
      <i class="fas fa-paperclip"></i>
      Anexar
      <input type="file" name="arquivo" id="arquivo">
    </label>
  </div>
</div>