.card {
  &-title {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border: none;

    img {
      position: relative;
      width: 37px;
      height: 37px;
      border-radius: 50%;
      margin-right: 15px;
    }

    textarea {
      width: 100%;
      resize: none;
      border: none;

      &::placeholder {
        color: #ccc;
      }

      &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
      }
    }
  }

  &-body {
    display: flex;

    input[type="file"] {
      display: none;
    }

    label {
      color: #456585;
      padding: 0 5px;
      text-align: center;
      cursor: pointer;
      border: 1px solid #456585;
      border-radius: 4px;
      font-size: .8rem;

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}
