<div class="container-sm">
  <div class="row">
    <div class="col-md-3"></div>
    <div
      class="col-md-6"
      class="col-md-6 col-card-feed search-results"
      infiniteScroll
      [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="3000"
      (scrolled)="loadPlus()"
    >
      <app-card-user-profile></app-card-user-profile>
      <app-content-feed [data]="posts" [loading_1]="loading_1" [loading_2]="loading_2"></app-content-feed>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<app-scroll-to-top></app-scroll-to-top>
