@use '../../../../theme/base/variables';

.container-modal {
  min-height: 400px;
}

.title-post-text {
  display: flex;
  align-items: baseline;

  i {
    font-size: 0.2rem;
  }

  h4 {
    font-size: 1.1rem;
    margin: 0 .5rem 0 0;
  }
}

.container-image {
  display: flex;
  background-color: variables.$background-container-image !important;
  width: 100%;
  height: 500px;
  border-radius: 0.5rem;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  padding-left: 10px;
}

.title-post {
  display: flex;
  justify-content: center;
  align-items: center;

  &-text {
    display: flex;
    flex-direction: row;

    h3 {
      font-size: 1.3rem;
      margin: 0;
      display: inline;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      padding-left: .5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;
    }
  }
}

.list-group {
  overflow-y: auto;
  max-height: 447px !important;
}

ul {
  li {
    position: relative;

    .options {
      position: absolute;
      top: 15px;
      right: 15px;

      .dropdown-menu-right {
        height: auto !important;
        margin-right: 0 !important;
      }
    }

    div {
      display: flex;
    }

    .p {
      display: flex;
      justify-content: flex-end;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 650px) {
  .input-comments {
    margin-top: 1rem;
  }
}
