<div class="space"></div>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-lg">
    <a class="navbar-brand" (click)="scrollTop()" [routerLink]="['/feed']">
      <i class="fas fa-paw"></i>
      Pets
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/feed']">Ínicio</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/services']">Serviços</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/requests']">Solicitações</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/about']">Sobre</a>
        </li>
        <li class="nav-item" *ngIf="!hideNav" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="'profile/' + userService.userId">Meu perfil</a>
        </li>
        <li class="nav-item" *ngIf="!hideNav" routerLinkActive="router-link-active">
          <a class="nav-link" (click)="loguot()">Sair <i class="fas fa-walking ml-1"></i></a>
        </li>
      </ul>

      <!--
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      -->
      
      <div class="btn-group" *ngIf="hideNav" dropdown>
        <i
          type="button"
          title="Conta"
          dropdownToggle
          id="button-animated"
          aria-controls="dropdown-animated"
          class="fas fa-cat btn-user-options"
        >
        </i>
        <ul
          role="menu"
          *dropdownMenu
          id="dropdown-animated"
          style="width: 20px;"
          aria-labelledby="button-animated"
          class="dropdown-menu dropdown-menu-right"
        >
          <li role="menuitem">
            <a class="dropdown-item" [routerLink]="'profile/' + userService.userId">Perfil</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="loguot()">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
