<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-lg">
    <a class="navbar-brand" [routerLink]="['/feed']">
      <i class="fas fa-paw"></i>
      Pets
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/feed']">Ínicio</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/services']">Serviços</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/requests']">Solicitações</a>
        </li>
      </ul>

      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <div class="d-flex">
        <div class="btn-group" dropdown>
          <i id="button-animated" type="button" dropdownToggle class="fas fa-cat btn-user-options"
            aria-controls="dropdown-animated" title="Conta"></i>
          <ul id="dropdown-animated" *dropdownMenu [ngClass]="classMenu" class="dropdown-menu" style="width: 252px;"
            role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="'profile/' + userService.userId">Perfil</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="loguot()">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-lg">
    <a class="navbar-brand" [routerLink]="['/feed']">
      <i class="fas fa-paw"></i>
      Pets
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/feed']">Ínicio</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/services']">Serviços</a>
        </li>
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="nav-link" [routerLink]="['/requests']">Solicitações</a>
        </li>
        <li class="nav-item">
          <div class="btn-group" dropdown>
            <a id="button-animated" class="nav-link" dropdownToggle aria-controls="dropdown-animated">Conta</a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-left" style="width: 252px;"
              role="menu" aria-labelledby="button-animated">
              <li role="menuitem">
                <a class="dropdown-item" [routerLink]="'profile/' + userService.userId">Perfil</a>
              </li>
              <li role="menuitem">
                <a class="dropdown-item" (click)="loguot()">Sair</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> -->

<router-outlet></router-outlet>

<!-- <nav class="navbar">
  <div class="container-lg">
    <div class="navbar-container">
      <div class="navbar-container-logo">
        <div class="navbar-container-logo-text">
          <a [routerLink]="['/feed']"><i class="fas fa-paw"></i> Pets</a>
        </div>
        <div class="navbar-container-logo-search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar...">
            <button class="fa fa-search"></button>
          </div>
        </div>
      </div>
      <div class="navbar-container-nav-user">
        <ul>
          <li routerLinkActive="router-link-active">
            <a [routerLink]="['/feed']">Ínicio</a>
          </li>
          <li routerLinkActive="router-link-active">
            <a [routerLink]="['/services']">Serviços</a>
          </li>
          <li routerLinkActive="router-link-active">
            <a [routerLink]="['/requests']">Solicitações</a>
          </li>
        </ul>
        <div class="btn-group" dropdown>
          <i id="button-animated" type="button" dropdownToggle class="fas fa-cat btn-user-options"
            aria-controls="dropdown-animated"></i>
          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right" style="width: 252px;"
            role="menu" aria-labelledby="button-animated">
            <li role="menuitem">
              <a class="dropdown-item" [routerLink]="'profile/' + userService.userId">Perfil</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="loguot()">Sair</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav> -->