@use "../../../theme/base/variables";

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  .fa-paw {
    color: variables.$primary-color;
  }
}

.router-link-active {
  a {
    font-weight: 650;
    color: variables.$primary-color;
  }
}

.btn-user-options {
  border-radius: 50%;
  border: 1px solid variables.$dark-color;
  padding: 10px;
  border: 1px solid variables.$light-color;
  color: variables.$light-color;
  background-color: variables.$primary-color;
}
