$primary-color: #4CAF50;
$secondary-color: #8BC34A;
$light-gray: #ccc;
$background-body: #e5e5e5;
$form-invalid: #f05050;
$title-card-feed-color: #5e5e5e;
$dark-color: #515151;
$background-container-image: #000;
$light-color: #fff;
