@use '../../../../theme/base/variables';

.button {
  border: 1px solid variables.$light-gray;
  border: 1px solid variables.$light-gray;
  color: variables.$dark-color;
  padding: 3px 20px;
  border-radius: 25px;
  background-color: transparent;
  font-weight: 600;
  transition: .4s;
  padding: 3px 30px;
  
  &:hover {
    border: 1px solid variables.$primary-color;
    color: variables.$primary-color;

  }
}