/* You can add global styles to this file, and also import other style files */
@use "./app/theme/base/variables";
@use "./app/theme/components/components.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: variables.$background-body;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: variables.$light-gray;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: variables.$primary-color;
  border-radius: 20px;
  border: 1px solid variables.$light-gray;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

ul > li {
  list-style: none;
}

.fade-in {
  animation: fadein 1s;
}

.fade-out {
  animation: fadeout 1s;
}

.text-center {
  text-align: center;
}

.close-modal {
  border: none;
  background-color: transparent;
  padding: 0 15px;
}

.img-tumblr {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 15px;
}

.required::after {
  content: "*";
  margin-left: 2px;
}

.ng-invalid.ng-touched {
  border-color: variables.$form-invalid;;
}

@keyframes fadein {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}
