@use '../../../theme/base/variables';

.loading {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$primary-color;
  z-index: 9999;
}

.pulse-container {
  width: 70px;
  display: flex;
  justify-content: space-between
}

.p-bars {
  display: flex;
  animation: scale 1600ms ease-in-out infinite;
  animation-delay: 100ms;
  transform-origin: 50% 50%;
  color: variables.$light-color;
  font-size: 4.5rem;
}

@keyframes scale {
  0% {
      opacity: 1;
      transform: scale(1.5)
  }

  50% {
      transform: scale(1)
  }

  100% {
      transform: scale(1.5)
  }
}